name: Publish

on:
  schedule:
    - cron: "0 13 * * *" # Daily (5am PST)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    outputs:
      deployed-checksum: ${{ steps.deployed-checksum.outputs.checksum }}
      artifact-checksum: ${{ steps.artifact-checksum.outputs.checksum }}

    runs-on: ubuntu-slim

    steps:
      - name: Checkout main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Generate feeds
        run: |
          mkdir -p public/
          uv run tmdb-upcoming \
            --cache-file cache.pickle \
            --companies-file companies.csv \
            --people-file people.csv \
            --output-file public/upcoming.json
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}

      - name: Show changes
        run: |
          diff <(curl --silent https://josh.github.io/tmdb-upcoming-feeds/upcoming.json) upcoming.json || true
        working-directory: public/

      - name: Fetch deployed checksum
        id: deployed-checksum
        run: |
          curl --silent https://josh.github.io/tmdb-upcoming-feeds/checksum | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; head -n1 "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"

      - name: Compute checksum
        id: artifact-checksum
        run: |
          sha256sum ./* | sort | sha256sum | awk '{print $1}' | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"
          mv "$RUNNER_TEMP/checksum" checksum
        working-directory: public/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: public/

  deploy:
    needs: build
    if: ${{ needs.build.outputs.deployed-checksum != needs.build.outputs.artifact-checksum }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-slim

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
